.navbar {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FEFEFE;
}

.navbar-logo {
  font-family: 'Sora', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #022183;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

.navbar-button {
  padding: 10px 20px;
  border-radius: 20px;
  background: #0649E7;
  color: white;
  border: none;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
}
